<container>
    <p id="Welcome">Welcome back to your fitness tracker, <span id="First-Name">John</span>!</p>
    <!-- Quotable API Random Quote -->
    <p id="Quote"></p>
    <hr>
    <!-- Day.js Date -->
    <div class="Date">
        <p class="Date"><strong>Today's Date:</strong></p>
        <p id="Current-Date">{{format_date}}</p>
    </div>
</container>

<!-- Calendar Container -->
<div class="Calendar-Container">
    <div id="Calendar-Box">
        <header class="Calendar-Header">
            <p class="Calendar-Current-Date"></p>
            <div class="Calendar-Nav">
                <span class="Calendar-Icon" id="Calendar-Previous">
                    <i class="fa-solid fa-angle-left" style="color: #666666;"></i>
                </span>
                <button id="Today-Button">Today</button>
                <span class="Calendar-Icon" id="Calendar-Next">
                    <i class="fa-solid fa-angle-right" style="color: #666666;"></i>
                </span>
            </div>
        </header>
        <div class="Calendar-Body">
            <ul class="Weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tues</li>
                <li>Wed</li>
                <li>Thurs</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="Calendar-Dates">
                <!-- Your calendar dates will go here -->
            </ul>
        </div>
    </div>
</div>

<script src="./js/homepage.js"></script>
<script src="./js/workoutPlanner.js"></script>