<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        
        <form class="Form Login-Form">
            <div class="Form-Group">
                <label for="Email-Login">Email:</label>
                <input class="Form-Input" type="text" id="Email-Login">
            </div>
            <div class="Form-Group">
                <label for="Password-Login">Password:</label>
                <input class="Form-Input" type="password" id="Password-Login">
            </div>
            <div class="Form-Group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Signup</h2>

        <form class="Form Signup-Form">
            <div class="Form-Group">
                <label for="FirstName-Signup">First Name:</label>
                <input class="Form-Input" type="text" id="FirstName-Signup">
            </div>
            <div class="Form-Group">
                <label for="LastName-Signup">Last Name:</label>
                <input class="Form-Input" type="text" id="LastName-Signup">
            </div>
            <div class="Form-Group">
                <label for="Email-Signup">Email:</label>
                <input class="Form-Input" type="text" id="Email-Signup">
            </div>
            <div class="Form-Group">
                <label for="Password-Signup">Password:</label>
                <input class="Form-Input" type="password" id="Password-Signup">
            </div>
            <div class="Form-Group">
                <button class="btn btn-primary" type="submit">Signup</button>
            </div>
        </form>
    </div>
</div>

<script src="../public/js/login.js"></script>