<div class="Container-Login">
    <div class="Container-Login-Form">
        <div class="Login-Image">
            <img>
        </div>
        <div class="Login-Page">
            <form class="Form Login-Form">
                <h2 class="Form-Title">Member Login</h2>
                <div class="Form-Group">
                    <input class="Form-Input" type="text" id="Email-Login" placeholder="Email">
                    <span class="Icon">
                        <i class="fa-solid fa-envelope" style="color: #666666;"></i>
                    </span>
                </div>
                <div class="Form-Group">
                    <input class="Form-Input" type="password" id="Password-Login" placeholder="Password">
                    <span class="Icon">
                        <i class="fa-solid fa-lock" style="color: #666666;"></i>
                    </span>
                </div>
                <div class="Container-Form-Button">
                    <button class="Form-Button" type="submit">Login</button>
                </div>
                <div class="Container-Signup-Button">
                    <a href="/createaccount" class="Signup-Button">Create your Account<i class="fa-solid fa-long-arrow-right" style="margin-left: 5px;"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>