<div class="Container-Login">
    <div class="Login-Page">
        <form class="Form Login-Form">
            <h2 class="Form-Title">Register</h2>
            <div class="Form-Group">
                <input class="Form-Input" type="text" id="FirstName-Signup" placeholder="First Name">
                <span class="Icon">
                    <i class="fa-solid fa-user" style="color: #666666;"></i>
                </span>
            </div>
            <div class="Form-Group">
                <input class="Form-Input" type="text" id="LastName-Signup" placeholder="Last Name">
                <span class="Icon">
                    <i class="fa-solid fa-user" style="color: #666666;"></i>
                </span>
            </div>
            <div class="Form-Group">
                <input class="Form-Input" type="text" id="Email-Signup" placeholder="Email">
                <span class="Icon">
                    <i class="fa-solid fa-envelope" style="color: #666666;"></i>
                </span>
            </div>
            <div class="Form-Group">
                <input class="Form-Input" type="text" id="Password-Signup" placeholder="Password">
                <span class="Icon">
                    <i class="fa-solid fa-lock" style="color: #666666;"></i>
                </span>
            </div>
            <div class="Container-Form-Button">
                <button class="Form-Button" id="Submit-User-Button" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script>