<div class="Display-Container">
    <!-- Form Container -->
    <div class="Form-Content">
        <!-- Form Container -->
        <p class="Form-Instructions">What type of workouts would you like to complete today?</p>
        <div class="selectForm">
            <button class="exerciseButton">Choose an Exercise Type</button><br>
            <ul id="workoutChoices">
               <!-- Workout Category Options Will Populate Here -->
            </ul>
        </div>
        <!-- Exercise Checkbox Container -->
        <div class="checkboxContainer">
            <button class="Checkbox-Heading">Exercises:</button>
            <ul id="exercise">
            </ul>
            <!-- Start Workout Button -->
            <button id="startWorkout">Begin Workout</button>
        </div>
    </div>
</div>

<script src="../public/js/workoutPlanner.js"></script>