<div id="workout">
    <!-- Update Based On User's Workout Choice Selection -->
    <h2 class="workoutPlannerHeader">Workout Planner</h2>
    <container id="countUpTimer">
        <label id="minutes">00</label>
        <label id="colon">:</label>
        <label id="seconds">00</label>
    </container>
    <h3 id="workoutMessage">Message Goes Here...</h3>
    <ul id="exerciseList">
        <!-- Workouts Will Populate Here -->
    </ul>
    <button onclick="history.go(0);" id="returnToWorkoutTracker">Return Home</button>
</div>

<div>
    <input type="text" id="userInput" placeholder="Enter text for Google Gemini API">
  </div>

<script src="./js/workout.js"></script>