<div class="Display-Container">
    <div class="Form-Content">
        <div id="Error-Message"></div>
        <p class="Form-Instructions">Plan Your Workout Below!</p>
        <div class="Select-Form">
            <container id="Category-Button">
                <button class="Category-Button">Choose an Exercise Category</button><br>
            </container>
            <div id="Categories-Choices">
               <!-- Workout Category Options Will Populate Here (Class='Category-Buttons') -->
            </div>
            <container id="Exercise-Button">
                <button class="Exercise-Button">Select Your Exercises</button><br>
            </container>
            <div id="Exercise-Choices">
                <!-- Exercises For Selected Category Will Populate Here (Class='Exercise-Buttons') -->
            </div>
        </div>
    </div>
</div>

<div>
    <button id="Back-To-Calendar-Button">Back to Calendar</button>
</div>

<button id="Start-Workout">Start Workout</button>

<script src="./js/workoutPlanner.js"></script>