<div id="Workout">
    <div id="Timer">
        <button id="Timer-Start-Button">Start</button>
        <container id="Count-Up-Timer">
            <label id="Hours">00</label>
            <label id="Colon">:</label>
            <label id="Minutes">00</label>
            <label id="Colon">:</label>
            <label id="Seconds">00</label>
        </container>
        <button id="Timer-Stop-Button">Stop</button>
    </div>
    <div class="Timer-Clear-Button">
        <button id="Timer-Clear-Button">Clear Timer</button>
    </div>
    <div id="Exercise-List">
        <!-- Workouts Will Populate Here -->
    </div>
</div>

<div id="AI-Box">
    <div id="Search-Input">
        <input type="text" id="User-Input" placeholder="Enter Text for Google Gemini API">
        <button id="Search-Button">Search</button>
    </div>
    <div id="Results">
        <!-- Search Results Will Dynamically Display Here -->
    </div>    
</div>

<script type="importmap">
    {
        "imports": {
            "@google/generative-ai": "https://esm.run/@google/generative-ai"
        }
    }
</script>

<div id="Homepage-Button">
    <button id="Return-To-Homepage">Return Home</button>
</div>

<script src="./js/workout.js" type="module"></script>