:root {
    --color-darkblue: #427884;
    --color-lightblue: #8ED6EE;
    --color-lightwhite: #FAFAFA;
    --color-white: #FFFFFF;
    --color-lightgray: #E6E6E6;
    --color-darkgray: #666666;
}

/* Main.Handlebars */
* {
    margin: 0;
}

header {
    text-align: center;
    border: 2px solid var(--color-lightwhite);
    border-radius: 10px;
    margin: 5px;
    background-color: var(--color-darkblue);
}

h1 {
    font-family: Poppins-Medium;
    text-align: center;
    color: #fafafa;
    font-size: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer {
    text-align: center;
    border: 5px solid var(--color-darkblue);
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 5px;
    position: absolute;
    padding: 10px;
    background-color: var(--color-lightwhite);
    width: 100%;
}

/* Login Handlebars */
.Container-Login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-darkblue);
    margin: 15px;
    background: var(--color-darkblue);
    background: linear-gradient(-75deg, var(--color-lightblue), #4f8b99);
    border-radius: 10px;
}

.Container-Login-Form {
    display: flex;
}

.Login-Form {
    background: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 992px) {
    .Login-Image {
        width: 35%;
    }
}

.Login-Image {
    width: 316px;
}

@media (max-width: 992px) {
    .Login-Page {
        width: 50%;
    }
}

.Login-Page {
    width: 290px;
}

.Form-Title {
    font-family: Poppins-Bold;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 20px;
}

.Form-Group {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.Form-Input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    display: block;
    height: 50px;
    border-radius: 25px;
    width: 100%;
    padding: 0 30px 0 68px;
    border: none;
    color: var(--color-darkgray);
    background-color: var(--color-lightgray);
}

.Form-Input::placeholder {
    color: var(--color-darkgray);
}

.Icon {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 100%;
    padding-left: 35px;
}

.Container-Form-Button {
    width: 100%;
    padding-top: 20px;
}

.Form-Button {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: var(--color-white);
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    background-color: var(--color-darkblue);
    border: 0;
}

/* Signup Handlebars */
.Container-Signup-Button {
    text-align: center;
    padding-top: 100px;
    width: 100%;
}

.Signup-Button {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.5px;
    color: var(--color-darkgray);
}

/* Homepage Handlebars */
#Welcome {
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    margin: 0 auto;
    font-weight: bold;
}

#Quote {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    padding: 10px;
    background-color: var(--color-lightwhite);
    border-radius: 10%;
    border: 5px solid var(--color-darkblue);
    margin: 10px;
    background-color: var(--color-lightwhite);
    border: 2px solid var(--color-darkblue);
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.Date {
    font-size: 20px;
    text-align: center;
}

p.Date {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.Display-Container {
    display: flex;
    justify-content: center;
}

#Current-Date {
    padding-bottom: 20px;
}

.Calendar-Container {
    padding-bottom: 50px;
    width: 700px;
    background-color: var(--color-lightwhite);
}

#Calendar-Box {
    padding: 10px;
    cursor: pointer;
    font-family: Poppins;
    box-shadow: 10px 5px 5px 5px grey;
    border-radius: 15px;
}

.Calendar-Header {
    background-color: var(--color-lightblue);
    border: 2px solid var(--color-darkgray);
    font-family: Poppins-Medium;
    padding: 10px;
}

header .Calendar-Current-Date {
    font-size: xx-large;
}

header .Calendar-Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .Calendar-Nav span {
    width: 30px;
    border: 2px solid #334A52;
    border-radius: 50%;
}

header .Calendar-Nav span:hover {
    background: var(--color-white);
}

#Today-Button {
    padding: 5px 20px 5px 20px;
    border: 2px solid var(--color-darkgray);
    border-radius: 10px;
}

.Calendar-Body {
    padding: 5px;
    margin: 10px;
}

.Weekdays {
    text-decoration: underline;
    font-family: Poppins-Medium;
    margin-right: 5px;
}

.Calendar-Body ul {
    list-style: none;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-right: 2rem;
}

.Calendar-Body li {
    width: calc(100% / 7);
    font-size: 1.5rem;
    color: black;
}

.Calendar-Body .Calendar-Dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
}

.Calendar-Dates li::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.past:hover::before {
    background-color: lightcoral;
}

.current-day::before {
    background: greenyellow;
}

.future:hover::before {
    background: lightgrey;
}

.User-Input {
    text-align: center;
}

/* Workout Planner Handlebars */
.Form-Content {
    text-align: center;
}

#Error-Message {
    display: none;
    color: red;
}

.Form-Instructions {
    font-family: Poppins-Medium;
    padding: 5px;
    font-size: 20px;
}

.Select-Form {
    background-color: var(--color-lightwhite);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px var(--color-darkgray);
}

#Category-Button {
    display: flex;
    justify-content: center;
}

.Category-Button {
    background-color: var(--color-lightblue);
    border-radius: .5em;
    border: black;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-family: Poppins;
}

.Category-Button:hover+.workoutChoices {
    visibility: visible;
    box-shadow: 10px 5px 5px;
}

#Categories-Choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-family: Poppins-Medium;
}

.Category-Buttons {
    margin: 5px;
    width: 100%;
    border-radius: 15px;
    border: var(--color-lightwhite)
}

.Category-Buttons:hover {
    background-color: var(--color-lightblue);
}

.Exercise-List {
    height: 80%;
    max-height: 400px;
    width: 475px;
    overflow-y: auto;
    visibility: hidden;
    z-index: 1;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 10px 5px 5px grey;
    padding: 20px;
    padding-right: 50px;
    padding-left: 50px;
}


.Submit-Button {
    display: inline-block;
    border: none;
    background-color: #8ed6ee;
}

.Submit-Button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.Submit-Button button img {
    width: 30px;
}

/* Main Page */
#Workout-Page {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

#mainContent {
    padding-bottom: 10rem;
    margin: 0;
}

/* Display Form & Calendar Side-by-Side */
/* Exercise Form */



.Category-Choices {
    list-style: none;
    font-size: 20px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin: 15px
}

.Category-Choices li {
    background: lightcyan;
    border-radius: .5em;
    margin-bottom: 5px;
    transition-delay: calc(50ms * var(--delay));
}

.Category-Choices li:hover {
    background: lightgray
}

#Exercise-Button {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.Exercise-Button {
    display: initial;
    text-align: center;
    font-size: 35px;
    background-color: #8ed6ee;
    border-radius: .5em;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    border-style: double;
}

.Exercise-Buttons {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#Exercise-Choices {
    padding: 0;
    margin: 0;
}
/* Exercise Checkbox Display */

#exercise {
    padding: 0;
    margin: 0;
}

#exercise li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/* Style for checkboxes */
#exercise input[type="checkbox"] {
    margin-right: 10px;
    /* Add some spacing between checkbox and exercise name */

}

/* Workout Planner */
#workoutPlanner {
    border: 5px solid #427884;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;

}

#workoutHeading {
    text-align: center;
    color: #fafafa;
}

.workoutPlannerHeader {
    font-size: 45px;
    font-weight: bold;
    font-family: monospace;
}

#countUpTimer {
    background-color: #427884;
    font-size: 25px;
    padding: 10px;
    border-radius: 25%;
    color: whitesmoke;
    font-family: monospace;
}

#exerciseList {
    list-style-type: none;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}