<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workout Tracker</title>
    <!-- Bootstrap CSS Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- CSS Style Sheet -->
    <link rel="stylesheet" href="assets/styles/style.css">
</head>

<body>
    <header>
        <h1>Workout Tracker</h1>
        <!-- Welcome Back Message -->
        <container id="Welcome" style="display: none;">
            <p>Welcome back to your fitness tracker!</p>

            <nav>
        <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <a href="/profile">profile</a> |
            <button class="no-button" id="logout">logout</button>
            <a href="/calendar">calendar</a>
            <button></button>
            <a href="/workoutPage">workout page</a>
            <button></button>
        <!-- If user is not logged in, show login and signup links -->
            {{else}}
            <a href="/login">login</a>
            {{/if}}
            </nav>
        </container>
    </header>

</body>

        <!-- Page Footer -->
        <footer>
            <p id="Footer-Paragraph">Made with ♡ by Paul Ruszkay, Emily Simone, and Tania Bezerra</p>
            <p>&copy; 2024 Paul Ruszkay, Emily Simone, Andrew Zubac, and Tania Bezerra</p>
        </footer>


    <!-- jQuery Script Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Day.js Script File -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
        integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U=" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript File -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <!-- JavaScript File -->
    <script src="assets/scripts/script.js"></script>
</body>

</html>