   
   
   <body>
        <header>
        <h1>Workout Tracker</h1>
        <!-- Welcome Back Message -->
        <container id="Welcome" style="display: none;">
            <p>Welcome back to your fitness tracker, {{name}}!</p>
        </container>
         </header>

    <div id="Workout-Page" style="display: none;">
        <!-- Quotable API Random Quote -->
        <p id="Quote"></p>
        <hr>
        <main id="mainContent">
            <!-- Date Container -->
            <div class="Date">
                <p class="Date"><strong>Today's Date:</strong></p>
                <p id="currentDate"></p>
            </div>


        <!-- Form & Calendar Content Container (Date, Form, Calendar) -->
            <div class="Display-Container">
                <!-- Form Container -->
                <div class="Form-Content">
                    <!-- Form Container -->
                    <p class="Form-Instructions">What type of workouts would you like to complete today?</p>
                    <div class="selectForm">
                        <button class="exerciseButton">Choose an Exercise Type</button><br>
                        <ul class="workoutChoices" style="visibility: hidden;">
                            <li style="--delay: 1" data-category="8">Complete Arm Workout</li>
                            <li style="--delay: 2" data-category="9">Leg Workout</li>
                            <li style="--delay: 2" data-category="14">Calves Workout</li>
                            <li style="--delay: 3" data-category="11">Upper Body Workout</li>
                            <li style="--delay: 4" data-category="12">Back Workout</li>
                            <li style="--delay: 4" data-category="13">Shoulder Workout</li>
                            <li style="--delay: 5" data-category="10">Ab Workout</li>
                            <li style="--delay: 6" data-category="15">Cardio Workout</li>
                            <li style="--delay: 7">Rest Day</li>
                        </ul>
                    </div>
                    <!-- Exercise Checkbox Container -->
                    <div class="checkboxContainer">
                        <button class="Checkbox-Heading">Exercises:</button>
                        <ul id="exercise">
                        </ul>
                        <!-- Start Workout Button -->
                        <button id="startWorkout">Begin Workout</button>
                    </div>
                </div>
            </div>


            <!-- Calendar Container -->
                <div class="cal-container">
                    <div id="calendarBox">
                        <header class="cal-header">
                            <p class="cal-current-date"></p>
                            <div class="cal-nav">
                                <span id="cal-prev" class="material-symbols-rounded"><img class="Calendar-Nav-Button" src="assets/images/Previous-Arrow.svg" alt="Back-Button"></span>
                                <button id="today-button">Today</button>
                                <span id="cal-next" class="material-symbols-rounded"><img class="Calendar-Nav-Button" src="assets/images/Next-Arrow.svg" alt="Back-Button"></span>
                            </div>
                        </header>
                        <div class="cal-body">
                            <ul class="weekdays">
                                <li>Sun</li>
                                <li>Mon</li>
                                <li>Tues</li>
                                <li>Wed</li>
                                <li>Thurs</li>
                                <li>Fri</li>
                                <li>Sat</li>
                            </ul>
                            <ul class="cal-dates">
                                <!-- Your calendar dates will go here -->
                            </ul>
                        </div>
                    </div>
                </div>

   </body>