    <!-- Login Page to Enter User's First Name -->
    <div class="User-Input">
        <br>
        <form id="userInput">
            <label for="User-Name">Please enter your first name to continue:</label>
            <br>
            <input type="text" id="User-Name" name="User-Name" placeholder="First Name">
            <div class="Submit-Button">
                <button type="submit" form="userInput" value="Submit">
                    <img id="submitButton" src="assets/images/Submit-Arrow-Button.svg" alt="Submit Arrow">
                </button>
            </div>
        </form>
    </div>